.songTable {
    display: none;

    .noWrap {
        white-space: nowrap;
    }
}

.mobileSongTable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mobileSong {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &:last-child {
        border-bottom: none;
    }
}

.mobileSongControls {
    white-space: nowrap;
}


@media (min-width: 500px) {
    .songTable {
        display: block;
    }

    .mobileSongTable {
        display: none;
    }
}